.new_button {
    margin: 20px;
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition for box-shadow */
    font-size: 35px;
    position: absolute; /* Position the button absolutely */
    top: 200px; /* Adjust top position as needed */
    left: 150px; /* Adjust left position as needed */    
    
}

.new_button:hover {
    background-color: black;
    color : white
}


.new_image-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Align images to the right */
    align-items: center; /* Align images vertically in the center */
}

.new_image-content img {
    margin-right: 80px; /* Adjust right margin as needed */
    margin-top: 10px; /* Adjust top margin as needed */
    padding: 10px; /* Adjust padding as needed */
    max-width: 100%;
    height: auto;
    border-radius: 50px; /* Apply border-radius to create a circular image */
}

.new_reverse-content {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of flex items */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.new_reverse-text-content {
    flex: 1;
    padding-left: 50px; /* Adjust padding to create space between text and image */
    align-self: flex-start; /* Align text content to the top */
    color: white;
    margin-top: 20px;
}

.new_reverse-image-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align images to the top */
    align-items: flex-start; /* Align images to the top */
}

.new_reverse-image-content img {
    margin-bottom: 10px;
    margin-right: 20px; /* Adjust margin to create space between text and image */
    margin-left: 40px;
    margin-top: 20px;
    padding: 22px;
    max-width: 100%;
    height: auto;
    border-radius: 50px 50px 50px 50px        
}
