/* Navbar styles */
.body {
    background-color: black;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow: hidden;
}

.hidden {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    background-color: black;
    color: white;
    padding: 15px 20px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    margin-right: auto; /* Push "GoRide" to the left */
    cursor: pointer;
    
}

.nav-item {
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s, background-color 0.2s;
    padding: 5px 10px;
    border-radius: 20px;
}

.nav-item:hover {
    transform: scale(1.1);
    color: black;
    background-color: rgba(238, 244, 252, 0.922);
}

/* Content styles */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    
}

.text-content {
    flex: 1;
    padding-right: 50px;
    align-self: flex-start; /* Align text content to the top */
    color : white;
    
}

.image-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start; /* Align images to the top */
}

.image-content img {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 20px;
    padding : 22px;
    max-width: 100%;
    height: auto;
    border-radius: 50px 50px 50px 50px    
    
}

.reverse-content {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of flex items */
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.reverse-text-content {
    flex: 1;
    padding-left: 50px; /* Adjust padding to create space between text and image */
    align-self: flex-start; /* Align text content to the top */
    color: white;
    margin-top: 20px;
}

.reverse-image-content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align images to the top */
    align-items: flex-start; /* Align images to the top */
}

.reverse-image-content img {
    margin-bottom: 10px;
    margin-right: 10px; /* Adjust margin to create space between text and image */
    margin-top: 20px;
    padding: 22px;
    max-width: 100%;
    height: auto;
    border-radius: 50px 50px 50px 50px        
}


.button {
    margin: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition for box-shadow */
    font-size : 30px;
}

.button:hover {
    background-color: black;
    color : white
}


.link{
    text-decoration: none;
    color : white;
}
/* Responsive design */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        padding: 10px;
    }

    .text-content {
        padding-right: 0;
    }

    .image-content {
        justify-content: center;
        
    }
}
